<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLzUXE35n4WDw9CL6ragzJeOOVlfWOQ_g</string>
	<key>GCM_SENDER_ID</key>
	<string>627135276395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirray03.starterbase</string>
	<key>PROJECT_ID</key>
	<string>salur-app</string>
	<key>STORAGE_BUCKET</key>
	<string>salur-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627135276395:ios:942b1b8ab2879dcd7c582e</string>
</dict>
</plist>